{
	"printWidth": 120,
	"proseWrap": "always",
	"singleQuote": true,
	"semi": false,
	"bracketSpacing": true,
	"parser": "babel",
	"trailingComma": "none",
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"parser": "json",
				"printWidth": 80
			}
		},
		{
			"files": "*.css",
			"options": {
				"parser": "css"
			}
		}
	]
}
